html {
    scroll-behavior: smooth;
}  

@font-face {
    font-family: 'Cairo';
    src: url("/fonts/ros.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'Cairo', sans-serif;
    text-align: right;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
